header {
  background-color: #1f87b8;
}

p{
  font-size: 18px;
}

header img {
  width: 80px;
}

input, select {
  cursor: pointer;
}

.error {
  border: red solid 1px;
}

h1{
  background-color: #1f87b8;
}