body{
        overflow-x: hidden;
}

*{
    padding: 0px;
    margin:0px;
}
.formatos1{
    font-size: 30px;
    color:#1570cd;
    font-weight: bolder;
}


.bannerweb{
    background-image: url("../imagenes/Banner.png");    
    background-position: center;
    height: 100vh;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color:rgba(26, 6, 6, 0.486);
    background-blend-mode: luminosity; 
}

.formatos1{
    text-align: center;
}

.bajar1{
    padding-top: 150px;
}
.bajar2{
    padding-top: 50px;
}
.bajar3{
    padding-top: 30px;
}

h1{
    color:#302f61;    
    font-size: 90px;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2{
    color:#2b0c72;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    margin:40px 100px;
    font-weight:normal;
}
h3{
    color:#a06b0a;
    font-size: 40px;
    font-family: sans-serif;
    text-align:center;
}
.color1{
    color:#fff;
}
p{
    font-size: 20px;
    margin:40px 100px;
    text-align:center;
    color: #115322;
}
.botones {
    width: 150px;
    height: 30px;
    border: 3px solid #7ba661;
    cursor: pointer;
    color: #000;
    background-color: #7ba661;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:normal;
    padding: 5px 35px;
    text-decoration:dotted;
    transition: all linear 0.2s;
    border-radius: 25%;
}

.botones:hover {
    width: 150px;
    height: 30px;
    background-color: #186316;
    color: #efefef;
    text-decoration: none;
    font-size: 20px;
    transition: all linear 0.2s;
}
.configform1{    
    display: flex;
    justify-content: center;    
    color: #fff;    
}
.error{
    border-color: red;
}
 label{
    font-size: 24px;   
    float: right;
    margin:10px 20px 10px 20px;
 }

input{
    display:contents;
    margin-top: 10px;
}
 .form-control{
    font-size: 20px;   
}

footer{    
    background-color: #7ba661;
    padding:20px 20px;
}
.formatospie{
    color:#fff;
    font-size: 24px;
}


video{
    object-fit: cover;   
}

.tab {
    overflow: hidden;
    border: none;
    background-color: hsl(60, 54%, 97%);
}
.tam1 {
    font-size: 50px;
}
.tab button {
    text-align: center;
    background-color:#7ba661;
    float:center;
    color: #080724;
    border:#211cc7;
    outline:#0f0b0b;
    cursor: pointer;
    padding: 8px 50px;
    transition: 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    font-display: initial;
}
.tab button:hover {
    background-color: #cdcd12;
    color: #000;
}

.tab button.active {
    background-color: green;
    color: #fff;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
    background: #eee;
}
 
.tablinks.active{
    background-color: #ccc;
    font-weight: bold;
}
.tabcontent {
    animation: efect1 2s;
}

@keyframes efect1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icono-redes {
  width: 40px;
  height: 40px;
  margin: 50px;
  vertical-align: middle;
}


