body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
  color: #333;
}
.container {
  background: #438359;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.container h2 {
  color: #e4eaf0;
  font-weight: bold;
  margin-bottom: 20px;
}
#paquete {
  border: 2px solid #28a745;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
#paquete:focus {
  border-color: #218838;
  box-shadow: 0 0 8px rgba(40,167,69,0.4);
}
#paquete-img img {
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
#paquete-img img:hover {
  transform: scale(1.05);
}
#paquete-desc {
    font-size: 1.1rem;
    color: #dbcfcf;
}
#paquete-precio {
  font-size: 1.1rem;
  margin-top: 10px;
}
#btn-comprar {
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#btn-comprar:hover {
  background-color: #218838;
  transform: translateY(-2px);
}