section form {
  width: 600px;
  margin: auto;
  background: #f2f2f2;
  padding: 30px;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form br {
  display: none;
}
form label {
  font-weight: bold;
  margin-bottom: 5px;
}
form input {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
form label,
form input {
  display: block;
}
label[for="comentarios"] {
  grid-column: span 2;
}
#btnSend {
  grid-column: span 2;
  padding: 12px;
  background: #3ca5c7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#btnSend:hover {
  background: #2a89aa;
}
#mensajeAlert {
  grid-column: span 2;
  text-align: center;
  font-weight: bold;
  color: rgb(128, 0, 0);
}
